<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div id="myList">
  </div>
  
  <h1>My ID:<br>{{mypeerid}}</h1>

  <ion-input [(ngModel)]="anotherid" style="border: solid greenyellow; width: 500px;" type="text" placeholder="Peer ID">
  </ion-input>
  <ion-button (click)="connectToPeer()" style="width: 500px;" expand="block" fill="outline" shape="round">
    Connect to Peer
  </ion-button>
  <ion-button (click)="mediaCall()" style="width: 500px;" expand="block" fill="outline" shape="round">
    Connect Video
  </ion-button>
</ion-content>